# Lambda Expressions, Map, and Filter

We have two built in functions, filter and map. Once we learn about how these operate, we can learn about the lambda expression, which will come in handy when you begin to develop your skills further

### map function
The map function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [1]:
## Example 1

def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
map(square,my_nums)

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [6]:
## Example 2

def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [7]:
mynames = ['John','Cindy','Sarah','Kelly','Mike']

In [8]:
list(map(splicer, mynames))

['even', 'odd', 'odd', 'odd', 'even']

In [9]:
## Example 3

def first_letter(mystring):
    return mystring[0]

mynames = ['John','Cindy','Sarah','Kelly','Mike','Rakesh']

list(map(first_letter, mynames))

['J', 'C', 'S', 'K', 'M', 'R']

### filter function
The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [10]:
def check_even(num):
    return num % 2 == 0

In [11]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [12]:
list(map(check_even, nums))

[True, False, True, False, True, False, True, False, True, False, True]

In [13]:
list(filter(check_even, nums))

[0, 2, 4, 6, 8, 10]

In [14]:
for item in filter(check_even, nums):
    print(item)

0
2
4
6
8
10

### lambda expression
* One of Pythons most usefultools is the lambda expression. 


* lambda expressions allow us to create "anonymous" functions. 


* This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.


* Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs.

There is key difference that makes lambda useful in specialized roles:

* lambda's body is a single expression, not a block of statements.


* lambda is designed for coding simple functions, and def handles the larger tasks.

In [15]:
### Example 1: squaring a number without using lamdba function
def square(num):
    return num**2

nums = [1, 2, 3, 4, 5]

list(map(square, nums))

[1, 4, 9, 16, 25]

In [16]:
### Example 1: squaring a number using lamdba function
nums = [1, 2, 3, 4, 5]

list(map(lambda x: x**2, nums))

[1, 4, 9, 16, 25]

In [17]:
### Example 2: Lambda expression for checking if the number is odd.

nums = [1, 2, 3, 4, 5]

list(map(lambda x: x%2 == 1, nums))

[True, False, True, False, True]

In [18]:
### Example 3: Lambda expression for returning the odd numbers.

nums = [1, 2, 3, 4, 5]

list(filter(lambda x: x%2 == 1, nums))

[1, 3, 5]

In [19]:
### Example 4: Lambda expression for returning the first character of a string.
mynames = ['John','Cindy','Sarah','Kelly','Mike','Rakesh']

list(map(lambda s: s[0], mynames))

['J', 'C', 'S', 'K', 'M', 'R']

In [20]:
### Example 5: Lambda expression for reversing the words.
mynames = ['John','Cindy','Sarah','Kelly','Mike','Rakesh']

list(map(lambda s: s[::-1], mynames))

['nhoJ', 'ydniC', 'haraS', 'ylleK', 'ekiM', 'hsekaR']

In [21]:
### Example 6: Return sum of three numbers

summation = lambda a, b, c : a + b + c
print(summation(5, 6, 2))

13

In [22]:
### Example 7: Return people above 18 yrs
ages = [13, 90, 17, 59, 21, 60, 5]
 
adults = list(filter(lambda age: age > 18, ages))
 
print(adults)

[90, 59, 21, 60]

In [23]:
### Example 8: Return the approximate current age.
import pandas as pd
df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})

df

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

In [24]:
df['Age'] = df['Birthyear'].apply(lambda year: 2022 - year)
df

   Name    Status  Birthyear  Age
0  Luke    Father       1976   46
1  Gina    Mother       1984   38
2   Sam       Son       2013    9
3  Emma  Daughter       2016    6

In [25]:
### Example 9: Return the gender of the person based on Status
df['Gender'] = df['Status'].apply(lambda status: 'Male' if status == ('Father' or 'Son') else 'Female')
df

   Name    Status  Birthyear  Age  Gender
0  Luke    Father       1976   46    Male
1  Gina    Mother       1984   38  Female
2   Sam       Son       2013    9  Female
3  Emma  Daughter       2016    6  Female

In [26]:
### Example 10: Return the status of the person if he or she is minor
df['Minor'] = df['Age'].apply(lambda age: age < 18)
df

   Name    Status  Birthyear  Age  Gender  Minor
0  Luke    Father       1976   46    Male  False
1  Gina    Mother       1984   38  Female  False
2   Sam       Son       2013    9  Female   True
3  Emma  Daughter       2016    6  Female   True